
body {
    font-family: "Lato", sans-serif;
    background-color:#333;
   
}
/*
ul {
    
    display: flex;  
    justify-content: space-around; 
    padding: 5%;
}
ul li{
    display:inline-block;
    text-decoration: none;
    list-style-type:none;
  font-size: 150%;
   
}
*/
#navContainer{
    background-color: rgb(39, 35, 35);
    overflow: hidden;
    padding: 1%;
    
}

#storeNav div{
    display:inline-flex;
    justify-content: space-around;
}
#linksContainer{
    display:inline-flex;
    justify-content: space-around;
}
li{
    list-style-type:none;
    padding:23px;
}
a{
    justify-content: space-between;
}
p{
    color: yellow;
}
#adminControl{
    list-style-type:none;
    padding:23px;
}